params {
   config_profile_name        = 'Batch Samples profile'
   config_profile_description = 'batch jobs per sample tasks by N batch size'
}

process {
   withName: PARABRICKS_FQ2BAM {
        array = params.batch_size
        maxForks = 1 // Allow at most 3 batches to run concurrently

    }

    withName: 'PARABRICKS_DEEPVARIANT' {
        array = params.batch_size
        maxForks = 1 // Allow at most 3 batches to run concurrently
    }
}
