params {
   config_profile_name        = 'Batch Samples profile'
   config_profile_description = 'batch jobs per sample tasks by N batch size'

}

process {
   withName: PARABRICKS_FQ2BAM {
        array = params.batch_size
    }

    withName: 'PARABRICKS_DEEPVARIANT' {
        array = params.batch_size
    }
}
