/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: PARABRICKS_FQ2BAM {
        accelerator = 1
        cpus = 12
        memory = 46.GB
        time = 2.h
        maxRetries = 3
        maxForks = (params.batch_size != -1) ? params.batch_size : 8
    }
    
    withName: 'PARABRICKS_DEEPVARIANT' {
        accelerator = 1
        cpus = 12
        memory = 46.GB
        time = 2.h
        maxRetries = 3
        maxForks = (params.batch_size != -1) ? params.batch_size : 8
    }

    withName: 'TABIX_GBZIPTABIX' {
        cpus   = { check_max( 1 * task.attempt, 'cpus' ) }
        memory = { check_max( 2.GB * task.attempt, 'memory' ) }
        time = { check_max( 1.h * task.attempt, 'time' ) }
        maxRetries = 3
    }

    withName: 'MULTIQC' {
        cpus   = { check_max( 2 * task.attempt, 'cpus' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time = { check_max( 1.h * task.attempt, 'time' ) }
        maxRetries = 3
    }

}