params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    
    // genome
    genome = "hg38_chr20"
   
    igenomes_base = "s3://elembio-macro-reference/igenomes"

    // Input data
    input = "${projectDir}/tests/csv/small_fastq.csv"

    // interal
    //target_region_bed = "s3://elembio-macro-data/exome/hg38_exome_comp_spikein_v2.0.2_targets_sorted.re_annotated.bed"
    
    known_sites = null
    model_file = null
    proposed_variants = null

}
